/* import fonts from fonts.css file */ 
@import url(./fonts.css);


/* Background Body */
body{

	background-image: url("https://cdn.hipwallpaper.com/i/90/2/zcUNKZ.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

/* Navbar brand */

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 10px;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    margin-left: 10px;
}

/*Buttons */

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    
}

/* CSS Variables*/
@import url(./partials/_variables.css);

/* Import global styling */
@import url(./partials/_global.css);

/* start navigation */

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem;
}

.header_area .maun-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--roboto);
    font-family:var(--roboto);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: var(--title-color);
}



/* end navigation*/

/*Banner Area*/




.site-main .site-banner .site-title h2{
    margin-top: 0px;
    font-weight: 500;
}

.site-main .site-banner .site-title h2::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}

.site-main .site-banner .site-title h2{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h2::after{
    content:"";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

/*End Banner Area*/

/* Buttons Banner Area */

.btn-primary {
    color: #fff;
    background-color: #390f5a;
    border-color: #c1c1c1;
}

/*Start About Area*/

.site-main .about-area{
    padding: 5rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal 49px/ 60px ;
    letter-spacing: 5px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .0rem 0;
}

/*End About Area*/




/*Start Bran Area*/

.site-main .brand-area{
    padding: 2rem 5rem;
    margin-bottom: 4rem;
}

.site-main .brand-area .col-lg-4{
    display: flex;
    justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand{

    border: 1px solid var(--border-color);
    text-align: center;
    padding: 0.5rem 0rem;
    margin: .5rem 0;
    width: 300px;
    height: 300px;
    cursor: pointer;
    transition: transform .0s ease;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > img{
    width: 60%;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img{
    filter: brightness(0.9);
}

.site-main .brand-area .experience-area{
    padding-left: 2rem;
}

.site-main .brand-area .experience-area span{
    display: block;
}

.site-main .brand-area .experience-area .years-area{
    background: url(../img/client-info-bg.png) no-repeat 45px 20px;
    padding: 2rem 0;
    width: 40rem;
    height: 18rem;
    padding-left: 8rem;
    position: relative;
}


.site-main .brand-area .experience-area .bg-panel{
    position: absolute;
    left: -190px; top: 0%;
    background: #e029290a;
    width: 400px;
    height: 400px;
    margin-left: 340px;
    z-index: -1;
}

.site-main .brand-area .experience-area .years-area .years{
    font: normal bold 84px/40px var(--roboto);
    color: var(--primary-color2);
    z-index: 2;
}

.site-main .brand-area .experience-area .years-area h2 > span{
    font: normal 600 22px/30px var(--roboto);
}

.site-main .brand-area .experience-area .call-area{
    padding-left: 10rem;
}

/* End Brand Area */ 


