body {
	background: url('https://wallpapercave.com/wp/wp4546350.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.img-thumbnail {
	padding: 0.25rem;
	background-color: #000000;
	border: 1px solid #dee2e6;
	border-radius: 200px;
	max-width: 15%;
	margin-bottom: 20px;
}
.bg-light {
	background-color: #000000 !important;
}

.navbar-light .navbar-brand {
	color: rgb(255 255 255 / 90%);
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
	color: rgb(255 255 255 / 90%);
}

.navbar-light .navbar-nav .nav-link {
	color: rgb(255 255 255);
}

.btn-outline-success {
	color: #ffffff;
	border-color: #ffffff;
}

blockquote {
	font-size: 17.5px;
	border-left: 5px solid rgb(0, 0, 0);
	color: white;
}

.jumbotron {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	padding-right: 230px;
	color: inherit;
	background-color: #000000af;
	text-align: center;
	color: rgb(255, 255, 255);
}

.progress {
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
	box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
	width: 100%;
}

.w-100 {
	width: 60% !important;
	align-items: center;
	margin-left: 100px;
}
.carousel-caption {
	padding-top: 300px;
	color: #fff;
	text-align: center;
}

address {
	margin-top: 50px;
	font-style: normal;
	line-height: 1.42857143;
	color: white;
}

.h1,
.h2,
.h3,
.h5,
.h6,
h1,
h2,
h3,
h6 {
	margin-top: 70px;
	margin-bottom: 50px;
	font-weight: 500;
	line-height: 1.2;
	color: rgb(255, 255, 255);
	text-align: center;
}

.h4,
h4 {
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 500;
	line-height: 1.2;
	color: rgb(255, 255, 255);
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
	color: royalblue;
}

.btn-primary {
	margin-top: 20px;
	color: #fff;
	background-color: #0d6efd;
	border-color: #0d6efd;
}

.btn-danger {
	color: #fff;
	background-color: #bb2d3b;
	border-color: #b02a37;
	margin-top: 20px;
}
