
html, body{
    margin: 0%;
    box-sizing: border-box;
    width:  100%;
    height: 100%;
}



:root{
    --primary-color: #f576ee;
    --primary-color2: #e07af5;
    --title-color: #141313;
    --text-color: #777777;  
    --border-color: #201f1f17;  
    --gradient-color: linear-gradient(90deg, #f576ee 0%, #e07af5 100%);
    --shadow-color:  0px 10px 30px rgba(245, 90, 250, 0.664);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
   

    /* font family variables. */ 
    --roboto: 'Roboto', cursive;
} 

